{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block login %}{% endblock %}

{%  block body %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
{#    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}#}
{#    <p> {{ user }}  {{ error }}</p>#}
    <p></p>
    <div style="color:#363887" align="center">{{ form.username.label }}:  {{form.username(class="login")}}</div>
    <p></p>
    <div style="color:#363887" align="center">{{ form.password.label }}:  {{form.password(class="login")}}</div>
    <p></p>
    <div style="color:#363887" align="center">{{ form.submit() }}</div>

</form>
{% endblock %}
