{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block login %}{% endblock %}

{%  block body %}
<form method="POST">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <p> {{ user }}  {{ error }}</p>
    <div style="color:#875e50">{{ form.username.label }}:  {{form.username()}}</div>
    <div style="color:#875e50">{{ form.password.label }}:  {{form.password()}}</div>
    {{ form.submit() }}
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
</form>
{% endblock %}
